<?xml version="1.0" ?>
<MovilizerMasterdataPoolUpdate xmlns="http://movilitas.com/movilizer/v15" pool="$context.myPool">
    <update masterdataAckKey="$context.acknowledgementKey" key="$context.objectKey">
        <description>$context.myField</description>
    </update>
</MovilizerMasterdataPoolUpdate>
