<?xml version="1.0"?>
#* @vtlvariable name="context" type="com.movilizer.moveletbuilder.IMoveletDataProvider" *#
<MovilizerMovelet xmlns="http://movilitas.com/movilizer/v11"
                  moveletKey="TestMovelet"
                  moveletKeyExtension="${context.MoveletKeyExtension}"
                  namespace="${context.Namespace}"
                  name="Merci"
                  icon="14"
                  moveletType="SINGLE"
                  initialQuestionKey="Q1">
    <question key="Q1" title="Welcome" type="0">
        <answer key="Q1_A1" nextQuestionKey="END" position="1">
            <text>Hello and welcome to Movilizer. Press OK to continue</text>
        </answer>
    </question>
</MovilizerMovelet>